<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> update Vol </h3>
            <hr />
            <div class="form-group">
                <label> Aeroport</label>
                <input type="text" class="form-control" id="aeroport" required [(ngModel)]="vol.aeroport"
                    name="aeroport">
            </div>
            <div class="form-group">
                <label> Date de debut</label>
                <input type="datetime-local" class="form-control" id="date_debut" required [(ngModel)]="vol.date_debut"
                    name="date_debut">
            </div>
            <div class="form-group">
                <label> Date de fin</label>
                <input type="datetime-local" class="form-control" id="date_fin" required [(ngModel)]="vol.date_fin"
                    name="date_fin">
            </div>
            <div class="form-group">
                <label> Destination</label>
                <input type="text" class="form-control" id="destination" required [(ngModel)]="vol.destination"
                    name="destination">
            </div>
            <div class="form-group">
                <label> Duree</label>
                <input type="text" class="form-control" id="duree" required [(ngModel)]="vol.duree"
                    name="duree">
            </div>
            <label> Avion</label>
            <select name="numAvion" id="numAvion" required [(ngModel)]="vol.numAvion" class="form-select">
            <option *ngFor= "let data of List" value="{{data.numAvion}}">{{data.numAvion}} - {{data.modele}}</option>
             </select>
            <br />
            <div class="btn">
             <button (click)="updateVol(vol)" class="btn btn-success" type="submit">UPDATE</button>
             <button (click)="go()"  class="btn btn-danger" type="submit">Retour</button>
            </div>
             <br />
        </div>
    </div>
</div>
