
<div class="container">
    <div class="card">  
        <div class="card-header">Avion List</div>
        <div class="card-body">
            <table class = "table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Modele</th>
                        <th>Capacite</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let data of List">
                        <td>{{data.numAvion}}</td>
                        <td>{{data.modele}}</td>
                        <td>{{data.capacite}}</td>
                        <td>
                        <!-- <td *ngIf="this.authService.hasRole('ADMIN')"> -->
                            <button  (click)="delete(data.numAvion)" class = "btn btn-danger" style="margin-left: 10px"><i class="bi bi-trash"></i> Delete</button>
                        </td>
                        <td>
                        <!-- <td *ngIf="this.authService.hasRole('ADMIN')"> -->
                            <a  [routerLink]='["/admin/update-avion", data.numAvion]' class = "btn btn-info "><i class="bi bi-pencil-fill"></i> Update</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>